h1,h2,h3,h4,p{
	margin:0px 0px 0px 0px;
}
a{
	text-decoration:none;
}
body{
	background-color:whiteSmoke;
	font-family:arial,sans-serif;
}
.clear{
	clear:both;
}
.artical_title{
	font-style:bolder;
        font-size:20px;
	margin-bottom:15px;
	text-align:center;
}
.abstract{
    	position:relative;
	width:500px;
       	float:left;
	padding-bottom:0px;
}
.artical{
}
#content_box{
	padding:0px 30px;
}
#comment_box img{
	position:relative;
	top:-5px;
	border:solid 1px gray;
	margin-left:4px;
	width:32px;
	height:32px;
}
#comment_box .box{
	margin-bottom:5px;
	border:solid;
	border-width:1px;
	border-color:whitesmoke;
}
#comment_box .avatar{
	float:left;
	position:relative;
	top:8px;
	margin-right:10px;
}
#comment_box .name{
	border-bottom:solid 1px grey;
}
#comment_box .time{
	font-size:10px;
}
#comment_box .content{
	text-align:justify;
	padding: 0px 4px 2px 4px;
}
#comment_leaved{
	border:1px dashed;
	padding:5px;
}
#comment_leaved input[type="text"]{
	width:15em;
}
.abstract_content{
	margin:5px 0px 20px 0px;
	text-indent: 26px;
	float:left;
}
.artical_content{
	margin:5px 0px 20px 0px;
	text-indent: 2em;
}

p.abstract_content{
	text-indent:2em;
	text-align:justify;
}
.article_link{
	font-color:#000000;
}
.abstract_box{
	width:600px;
	padding:10px 0px 0px 0px;
	border-width:1px;
}
.abstract_title{
	margin:0px;
}

.subtitle{
	border-bottom:solid;
	border-bottom-width:2px;
}
.date_box{
	width:50px;
	height:42px;
	padding-right:8px;
	border-right:solid;
	border-width:1px;
	float:left;
	margin:0px 10px 10px 5px;
	clear:left;
}
.year_month{
	margin-top:2px;
	font-size:12px;
	text-align:center;
	position:relative;
	left:0px;
	display:block;
	top:0px;
	width:50px;
}
.day{
	font-weight:bold;
	font-size:20px;
	text-align:center;
	width:50px;
	display:block;
	position:relative;
	top:0px;
}

#blog{
	margin-top:20px;
	margin-bottom:30px;
}
#sidebar{
	margin-left:40px;
	width:260px;
        float:left;
}       
#header{
	margin-bottom:10px;
}
#page{
	width:600px;
	padding:30px 20px 10px 20px;
	border-width:1px;
	box-shadow: 2px 2px 8px #aaa;
	background-color:white;
	margin:auto;
}       
#footer{
	clear:both;
	font-size:10px;
}
#copyright{
	text-align:center;
}
#nav_bar{
	float:right;
}
