<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>TAO'S NEWS</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="language" content="en" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link type="text/css" href="http://wentao.me/site_media/demo.css" rel="stylesheet"/>


		
	</head>

	<body>
		<div>	
			<div id="header">
					<h1><a href="/">TAO'S NEWS</a></h1>	
			</div>

			<div id="blog">
				<h4 class="subtitle">文章</h4>
					<div class="abstract_box">
						<div class="date_box">
							<span class="year_month">{{artical.creation_time.year}}.{{artical.creation_time.month}}</span>
							<span class="day">{{artical.creation_time.day}}</span>
						</div>	
						<div class="abstract">
							<h2 class="abstract_title">{{artical.title}}</h2>
							<p class="abstract_content">{{artical.content}}</p>
						</div>
					</div>
			</div>
		
			<div id="sidebar">
				<div class= "box">
				<h4 class="subtitle">标签</h4>
				{% for tag in tags %}
					<span> 
						<a href="/articalsInTag/{{tag.id}}/">{{tag.name}}</a>   
					</span>		
				{% endfor %}
				</div>
			</div>
		</div>
	</body>
 </html>
