{% extends "base.html" %}
{% block blog %}
{% load markup %}
<div id="content_box">
	<div class="artical">
		<h2 class="artical_title">{{artical.title}}</h2>
		<div class="artical_content">{{artical.content|safe|markdown}}</div>
		<hr/>
	</div>
	<div id="comment_box">
		{% if comment_list %}
			<p>{{comment_list|length}}条留言</p>
			{% for comment in comment_list %}
				<div class="box">
					<div class="avatar">
						<img src="/static/head.png"/>
					</div>
					<div>
						<a class="name">{{comment.visitor_name}}</a>
						<a class="time"> at {{comment.creation_time}}</a>
						<p class="content">{{comment.content}}</p>	
					</div>
					<div class="clear"></div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
	<p>留言板儿</p>
	<div id="comment_leaved">
		<form action="/comment" method="POST">
			{% csrf_token %}
			<input type="hidden" name="artical_id" value="{{artical.id}}"/>
			<input type="hidden" name="page_url" value="{{page_url}}"/>
			名字:<input type="text" name="name" value=""/>(必填)<br/>
			邮箱:<input type="text" name="email" value=""/>(必填)<br/>
			网站:<input type="text" name="site" value=""/><br/>
			内容:(必填)<br/>
			<textarea name="content"rows="5" cols="57"></textarea><br/>
			<input type="submit" value="留言"/>
		</form>	
	</div>
</div>
{% endblock %}				
