h1,h2,h3,h4,p{
	margin:0px 0px 0px 0px;
}
body{
	background-color:whiteSmoke;
}

#page{
	width:800px;
	padding:50px 20px 10px 20px;
	border-width:1px;
	box-shadow: 2px 2px 8px #aaa;
	background-color:white;
	margin: auto auto auto auto;
}
	
.clear{
	clear:both;
}

#footer{
	margin-top:50px;
	clear:both;
	font-size:10px;
}

	
		

div{
//	border:dashed;
//	border-width:1px;
}

.artical_title{
        font-family:黑体;
	font-style:bold;
        font-size:20px;
        color:#2B9A23;
}

.abstract{
    	position:relative;
	max-width:400px;
	min-width:300px;
       	float:left;
	padding-bottom:0px;
	
}
#nav_bar{
	float:right;
}
.abstract_content
{
	margin:5px 0px 20px 0px;
	text-indent: 26px;
	text-align:justify;
	float:left;
}
.article_link
{
	font-color:#000000;
}
.abstract_box{
	width:500px;
	padding:10px 0px 0px 0px;
	border-width:1px;
}
.abstract_title
{
	margin:0px;
}
.subtitle
{
	border-bottom:solid;
	border-bottom-width:2px;

}
.box{
}



.date_box{
	width:50px;
	height:50px;
	border:dotted;
	border-width:2px;
	float:left;
	margin:0px 10px 10px 5px;
	clear:left;
}
.year_month{
	font-family:"Microsoft Yahei", "Trebuchet MS", "Microsoft Sans Serif", 'Helvetica Neue';
	font-size:12px;
	text-align:center;
	margin-top:6px;
	position:relative;
	left:0px;
	display:block;
	top:0px;
	width:50px;
}

.day{
	font-family:"Microsoft Yahei", "Trebuchet MS", "Microsoft Sans Serif", 'Helvetica Neue';
	font-weight:bold;
	font-size:20px;
	text-align:center;
	width:50px;
	display:block;
	position:relative;
	top:0px;
}


#blog{
        float:left;
}

#sidebar{
	margin-left:40px;
	width:260px;
        float:left;
}       
#header{
	left:40px;
	margin-bottom:30px;
        }       
