<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>文韬的实验室</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="language" content="en" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link type="text/css" href="http://www.test_server.com/demo.css" rel="stylesheet"/>
	</head>

	<body>
		<div id="header">
			<p>
				<h1>文韬的实验室</h1>	
			</p>		
		</div>
	
		<div id="blog">
			{% for p in artical_list %}
				<h2 class="artical_title">{{p.title}}</h2>
				<p class="blanket">{{p.content}}</p>
				<p> {{p.creation_time}}</p>
			{% endfor %}
		</div>
	
		<div id="sidebar">
	
		</div>
	</body>
</html>
